{% extends 'base.html' %}

{% block content %}
<div name = "pet-div" class="container text-center">
    <div>
    {% if pet.photo_url %}
    <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="img-fluid rounded" width="50%" >
    {% endif %}
    </div>
    <h1>{{ pet.name }}</h1>
    <p>Species: {{ pet.species }}</p>
    {% if pet.age %}
    <p>Age: {{ pet.age }}</p>
    {% endif %}
</div>
<form name="pet-edit" class="container text-center" method="POST">
    {{ form.hidden_tag() }}
    <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}
    
    <button class="btn btn-primary"type="submit">Save</button>
    <a class="btn btn-secondary" href="/">Cancel</a>
</form>

{% endblock %}